* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

nav ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: white;
  background-color: #1A1A1A;
  background-image: radial-gradient(at bottom, #7EF2FF 0%, #1A1A1A 70%);
  
}

@media screen and (width > 768px) {
  .body {
    background-image: radial-gradient(at left, #7EF2FF 0%, #1A1A1A 70%);
  }
}


.header{
  align-content: center;
  padding-left: 1rem;
  padding-top: 2.8125rem;
  margin-bottom: 0;
}

@media screen and (width > 768px) {
  .header {
    padding-left: 200px;
    padding-top: 160px;
    align-content: flex-start;
  }
}

.buttons-container{
 width: 18.75rem;
 height: 2.75rem;
 padding-left: 2.5rem;
 display: flex;
 justify-content: space-evenly;
 gap: 1.5rem;

}

.button{
  padding: 0.625rem 1rem 0.625rem 1rem ;
  width: 7.5rem;
  height: 2.75rem;
  border: none;
  font-family: inherit;
  border-radius: 0.5rem;
  font-weight: 400;
  color: white;
  border: 0.125rem solid #6A32EF
}

.button-login{
  background-color: #6A32EF;
}

.button-signin{
  background-color: #1A1A1A;
}

.header-content{
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 21.4375rem;
}

.title{
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 0.625rem;
  background: linear-gradient(to right, #6131F8,#c140a0, #fc8866);
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text{
  font-weight: 400;
  color: rgba(255, 255, 255, 0.674);
}

@media screen and (width > 768px) {
  .header-content {
    position: relative;
    width: 34.6875rem;
    align-items: flex-start;
    text-align: left;
  }

  .buttons-container{
    position:absolute;
    content: "";
    left:59.375rem;
    top:15.625rem;
    width: 20rem;
  }

  .button {
    font-size: 1.25rem;
    padding: 0.1875rem 0.625rem 0.1875rem 0.625rem ;
    width: 10rem;
  }

}

.card-text{
  font-size: 0.875rem;
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
  margin: 0%;
}

.stars-container{
  display: block;
  width: 5rem;
  height: 1rem;
}

.icon-container{
  display: block;
  width: 4.25rem;
  height: 4.25rem;
  border-radius: 100%;
  overflow: hidden;
}

.card-name{
  font-weight: 700;
  font-size: 1.125rem;
  margin: 0%;
}

.card-description {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.75);
  margin: 0%;
}

.card-title{
  text-align: center;
  row-gap: none;
}

.card{
  width: 342px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 1rem;
  padding: 2rem 1.25rem 2rem 1.25rem;
  border-radius: 1.25rem;
  margin-top: 32px;
  margin-left: 16px;
}
@media screen and (width > 768px) {
  .card {
    margin-left: 0;
    margin-right: 32px;
    margin-top: 0;
  }
}

.testimonials {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 2rezm;
  margin: 2.5rem 0 2.5rem 0;
}

@media screen and (width > 768px) {
  .testimonials {
    flex-direction: row;
    align-content: flex-start;
    margin-left: 200px;
    }
}

.card-first{
  background-color: #212121bf;
}
@media screen and (width > 768px) {
  .card-first {
    position: relative;
  }
}

.card-second{
  background-color: #212121bf;
}
@media screen and (width > 768px) {
  .card-second {
    position: absolute;
    content: "";
    left: 580px;
    top: 450px;
    padding-bottom: 32px;
  }
}

.card-third{
  background-color: #212121bf;
}
@media screen and (width > 768px) {
  .card-third {
    position: absolute;
    content: "";
    left: 960px;
    top: 490px;
    padding-bottom: 32px;
  }
}
